<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>

        <h1 class="my-5 text-center ">Contact-Us Page</h1>
        <div class="container">
            <div class="row">
                <div class="col-6 m-auto">
                    <form action="/contact" method="post">
                        <div class="form-group">
                            <label for="name" class="form label"><strong>Name</strong></label>
                            <input type="text" class="form-control" id="name" name="contact[name]">

                        </div>
                        <div class="form-group">
                            <label for="email"><strong>E-Mail</strong></label>
                            <input type="email" class="form-control" id="email" name="contact[email]">
                        </div>
                        <div class="form-group">
                            <label for="mob"><strong>Mobile</strong></label>
                            <input type="number" class="form-control" id="mob" name="contact[mob]">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label"><strong>Body</strong></label>
                            <textarea name="contact[body]" class="form-control" id="exampleFormControlTextarea1"
                                rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary mt-1">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('./partials/footer') %>